

<ion-content>

  
  <div class="header-shape"></div>

 
  <div class="container">

    <h1 class="title">Proyecto Parcial 3</h1>

   
    <div class="photo-wrapper">
      <img src="assets/erick.png" alt="perfil">
    </div>

    
    <h2 class="name">Erick Esteban<br>Romero Alcudia</h2>

    <p class="id">16190526</p>

    <p class="career">Desarrollo Móvil Integral</p>

    
    <div class="btn-container">
  <button class="btn-elegante-verde" (click)="verCocteles()">Ir al proyecto</button>
</div>



  </div>

  
  <div class="footer-shape"></div>

</ion-content>
